#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel-header {
  margin: 15px 0px 15px 0px;
  border-top: var(--solid-line);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}


