.more-screen .icons {
  flex-wrap: wrap;
}

.more-screen .icons__icon {
  margin-bottom: 30px;
}

.more-suggestions__title {
  margin-top: 50px;
  border-top: var(--solid-line);
  padding: 20px 0;
}

.more-suggestions__icons .icons__frame {
  width: 48px;
  height: 48px;
  color: var(--blak);
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
