.nav {
  position: fixed;
  top: 705px;
  width: 400px;
  background-color: #f9f9fa;
  padding: 20px 45px;
  /* box-sizing: padding때문에 늘어난 원래 길이를 border에 맞게 해줌. */
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__push-talk {
  background-color: rgb(255, 62, 28);
  color: white;
  font-size: 12px;
  font-weight: 600;
  /* span은 크기 조정 안되므로 display 적용해줘야함. */
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 14px;
  bottom: 15px;
}

.nav__push-more {
  background-color: rgb(255, 62, 28);
  width: 4px;
  height: 4px;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  bottom: 18px;
}
