.nav {
  position: fixed;
  top: 705px;
  width: 400px;
  background-color: #f9f9fa;
  padding: 20px 45px;
  /* box-sizing: padding때문에 늘어난 원래 길이를 border에 맞게 해줌. */
  box-sizing: border-box;
  border-top: var(--solid-line);
  /* 요건 나중에 지우자 */
  border-bottom: var(--solid-line);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

@keyframes navBtn {
  0% {
    trasform: none;
  }
  100% {
    color: var(--yellow);
  }
}

.nav__link-clicked {
  animation: navBtn 0.2s ease-in-out forwards;
}

@keyframes notification {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(3px);
  }
}

.nav__push-talk {
  position: absolute;
  left: 14px;
  bottom: 15px;
  animation: notification 0.5s ease-in-out infinite;
}
